<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test-method Suite" parallel="classes" thread-count="5" >
    <test name="Test-method test" group-by-instances="true">
        <classes>
            <class name="testngbase.TestCase1" />
            <class name="testngbase.TestCase2" />
        </classes>
    </test>

   <!-- <test name="Test-method test2" group-by-instances="true">
        <classes>
            <class name="TestCase1" />
        </classes>
    </test>

    <test name="Test-method test4" group-by-instances="true">
        <classes>
            <class name="TestCase1" />
        </classes>
    </test>
    <test name="Test-method test5" group-by-instances="true">
        <classes>
            <class name="TestCase1" />
        </classes>
    </test>-->
</suite>